/* Regular */
@font-face {
    font-family: 'lacuna_italicregular';
    src: url('../../lacuna-italic-webfont.eot');
    src: url('../../lacuna-italic-webfont.eot?#iefix') format('embedded-opentype'),
    url('../../lacuna-italic-webfont.woff2') format('woff2'),
    url('../../lacuna-italic-webfont.woff') format('woff'),
    url('../../lacuna-italic-webfont.ttf') format('truetype'),
    url('../../lacuna-italic-webfont.svg#lacuna_italicregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'League Gothic';
    src: url('../../leaguegothic-regular-webfont.eot');
    src: url('../../leaguegothic-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../../leaguegothic-regular-webfont.woff') format('woff'),
    url('../../leaguegothic-regular-webfont.ttf') format('truetype'),
    url('../../leaguegothic-regular-webfont.svg#league_gothicregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
.navbar{
    background-color: #2d2b2b;
}
.navbar-brand{
    background-color: white;
    height: 6.625rem;
    width: 7.62rem;
}
.logo{
    padding: 1rem 1.25rem;
}
.nav-link{
    font-family: fantasy;
    font-size: 2.25rem;
}
.bi-circle-fill{
    color: #f0bd01 !important;
}

.acc{
    margin-right: 5rem;
}
.flex{
    margin-right: 5rem;
}
.font{
    margin-right: 5rem;
}
.fonte{
    margin-right: 5rem;
}

.section1{
    height: 23.125rem;
    padding-top: 7rem;
    background-color: #3a0a1d;
}
.section1-icon1{
    margin-left: 1.25rem;
    margin-bottom: 1.625rem;
}
.section1 p{

    font-family: 'lacuna_italicregular';

}

.s21{
    padding-top:  8.188rem;
}
.fa-quote-left{
    color: #616161 !important;
    font-size:3.125rem !important;
}
.more{
    margin-left: 25.438rem;
    background-color: #e4bc01;
    width: 30rem;
}
.p2{
    width: 31.25rem;
}







div{
    color: #31332e;
}

p{
    font-size: 1.172rem;
    font-family: 'League Gothic';
}
h2{
    margin-top: 2.5rem;
    font-size: 20rem;
    font-family: 'League Gothic';
}

.round.round-lg {
    height: 40px;
    width: 40px;
    line-height: 40px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    font-size: 1.5em;
}
.bi-circle-fill{
    color: #f0bd01 !important;
    font-size: 1.75rem;
}
.btn-more{
    margin-left: 25.438rem;
    background-color: #f0bd01 !important;
    width: 5.313rem;
    border:0;
}
.section2{
    background-color: #fafafa;
}
.section2-bloc1{
    padding-top: 8.188rem;
    margin-bottom: 3.938rem;
}

.iconTwitter{
    color: white;
}
span{
    font-size: 1.813rem;
    font-family: 'League Gothic';
    padding-top: 2.5rem;
}
footer{
    height: 10.938rem;
    background-color: #e4bc01;
}
footer p{
    font-size: 1.188rem;
}
footer a{
    border-radius: 50% !important ;
    color :  #e4bc01 ;
    background-color:white;


    width: 1.93rem;
    height: 1.93rem;
}
footer a i{
    margin: 0.25rem;
}